.container {
  width: 16rem;
  background: linear-gradient(180deg, #1f1f1f, #313131);
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.4);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #00d1ff;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menuItem {
  padding: 0.5rem;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

.menuItem:hover {
  color: #00d1ff;
  transform: translateX(5px);
}

.logoutSection {
  margin-top: auto;
  font-weight: bold;
}
